footer#footer
    div#social
        a.symbol(href='https://github.com/stuartprine')
            i.fa.fa-github
    p.small
        | Powered by
        a(href='http://nowhere.io') Hexo
        | // Theme by
        a(href='') Dxx
